{% extends "layout/base.html" %}
{% load static %}
{% block title %}{{post.title}}{% endblock title %}
{% block content %}
<div>
    <h1 class="text-info text-center">{{post.title}}</h1>
    <span class="float-end">{{post.created_at}}</span>
    {% if post.image %}
        <img src="{{post.image.url}}" alt="{{ post.title }}" />
        {% else %}
        <img src="{% static 'default.png' %}" alt="no image" />
    {% endif %}
    <p class="text-dark">{{post.content}}</p>
</div>
{% endblock content %}
