{% extends "layout/base.html" %}
{% load static %}
{% block title %}
    Post List
{% endblock title %}
{% block content %}
    <div class="row">
        <div class="col-6 offset-3">
            <h1 class="text-center text-info">Post List</h1>
            {% for post in posts %}
                <div class="card">
                    <a href="{% url 'post-detail' post.id %}">
                        <h3 class="card-title">{{ post.title }}</h3>
                    </a>
                    <p class="card-content">{{ post.content }}</p>
                    <div class="d-flex justify-content-between">
                        <a href="{% url 'post-edit' post.id %}" class="btn btn-md btn-secondary">Edit</a>
                        <a href="{% url 'post-delete' post.id %}" class="btn btn-md btn-danger">Delete</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
