<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'post-list' %}">Blog</a>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active"
             aria-current="page"
             href="{% url 'post-list' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'post-create' %}">Create Post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
      <div class="me-3 d-flex">
        <a class="nav-link btn btn-primary" href="{% url 'register' %}">Register</a>
        <a class="nav-link bn btn-success" href="{% url 'login' %}">Login</a>
      </div>
    </div>
  </div>
</nav>
